/note-app/node_modules
/note-app/notes.json

/weather-app/node_modules

/web-server/node_modules
/web-server/server.log

/node-tests/node_modules

/notes-api/node_modules

/note-todo-api/node_modules/\.bin/

/async-await/node_modules

/node-with-firebase/node_modules
/node-with-firebase/package-lock.json
/node-with-firebase/server/config/config.json

\.DS_Store
