<!DOCTYPE html>
<html>
    <head>
        <title>{{pageTitle}}</title>
        <meta charset="UTC-8" />
    </head>
    <body>
        {{> header}}
        <p>{{pageTitle}}</p>
    </body>

    {{> footer}}
</html>